node_modules
src/.env
google-youtube.json
listaDeVideos.txt
audio/*.mp3
!audio/audioExample.mp3
videos/*.mp4
!videos/videoExample.mp4
videoAndAudio/*.mp4
!videoAndAudio/videoWithAudioExample.mp4
videosWithText/*.mp4
!videosWithText/videoWithTextExample.mp4
16by9videos/*.mp4
!16by9videos/16By9VideoExample.mp4
