node_modules
src/.env
google-youtube.json
listaDeVideos.txt
media/finalVideos/*.mp4
media/temporaryClips/audios/*.mp3
media/temporaryClips/videos/*.mp4
media/temporaryClips/videoAndAudio/*.mp4
media/temporaryClips/videosWithText/*.mp4
media/temporaryClips/16by9videos/*.mp4
media/temporaryClips/tempResolution/*.mp4